WS_Liquidacion/WebContent/wsdl/WSLiquidacion.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.edu.uniajc"
	xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.edu.uniajc"
	xmlns:intf="http://ws.edu.uniajc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!--WSDL created by Apache Axis version: 1.4 Built on Apr 22, 2006 (06:55:48 
		PDT) -->
	<wsdl:types>
		<schema elementFormDefault="qualified" targetNamespace="http://ws.edu.uniajc"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<element name="liquidacionJson">
				<complexType>
					<sequence>
						<element name="P_ID" type="xsd:int" />
					</sequence>
				</complexType>
			</element>
			<element name="liquidacionJsonResponse">
				<complexType>
					<sequence>
						<element name="liquidacionJsonReturn" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
		</schema>
	</wsdl:types>

	<wsdl:message name="liquidacionJsonRequest">

		<wsdl:part element="impl:liquidacionJson" name="parameters">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="liquidacionJsonResponse">

		<wsdl:part element="impl:liquidacionJsonResponse" name="parameters">

		</wsdl:part>

	</wsdl:message>

	<wsdl:portType name="WSLiquidacion">

		<wsdl:operation name="liquidacionJson">

			<wsdl:input message="impl:liquidacionJsonRequest" name="liquidacionJsonRequest">

			</wsdl:input>

			<wsdl:output message="impl:liquidacionJsonResponse" name="liquidacionJsonResponse">

			</wsdl:output>

		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="WSLiquidacionSoapBinding" type="impl:WSLiquidacion">

		<wsdlsoap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="liquidacionJson">

			<wsdlsoap:operation soapAction="" />

			<wsdl:input name="liquidacionJsonRequest">

				<wsdlsoap:body use="literal" />

			</wsdl:input>

			<wsdl:output name="liquidacionJsonResponse">

				<wsdlsoap:body use="literal" />

			</wsdl:output>

		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="WSLiquidacionService">

		<wsdl:port binding="impl:WSLiquidacionSoapBinding" name="WSLiquidacion">

			<wsdlsoap:address
				location="http://localhost:8181/WS_Liquidacion/services/WSLiquidacion" />

		</wsdl:port>

	</wsdl:service>

</wsdl:definitions>
